<!-- Filename: footer.js
Author: Maninderpal Singh
StudentID: 300942719  
WebAppName: COMP308-W2019-Midterm-300942719 -->


<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2019 All Rights Reserved.</h4> <h1 class="navbar-text">-------Maninderpal Singh-----300942719------</h1>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
